<%- include("partials/header.ejs") %>
    <main>
        <div class="myContainer">
            <div class="sidebar"> </div>
            <div class="card post number1">
                <h5 class="card-title m-3">Title</h5>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sunt doloribus! Quod a nostrum
                    fuga. Commodi, in nihil, repellendus mollitia facere maiores at tempora debitis dolorem eveniet
                    aliquam neque? Voluptatem!

                </div>
                <a class="btn mb-3 " href="">Read full post</a>
            </div>
            <div class="card post number2">
                <h5 class="card-title m-3">Title</h5>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sunt doloribus! Quod a nostrum
                    fuga. Commodi, in nihil, repellendus mollitia facere maiores at tempora debitis dolorem eveniet
                    aliquam neque? Voluptatem!

                </div>
                <a class="btn mb-3" href="">Read full post</a>
            </div>
            <div class=" card post number3">
                <h5 class="card-title m-3">Title</h5>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sunt doloribus! Quod a nostrum
                    fuga. Commodi, in nihil, repellendus mollitia facere maiores at tempora debitis dolorem eveniet
                    aliquam neque? Voluptatem!

                </div>
                <a class="btn mb-3" href="">Read full post</a>
            </div>
            <div class="card post number4">
                <h5 class="card-title m-3">Title</h5>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sunt doloribus! Quod a nostrum
                    fuga. Commodi, in nihil, repellendus mollitia facere maiores at tempora debitis dolorem eveniet
                    aliquam neque? Voluptatem!

                </div>
                <a class="btn mb-3" href="">Read full post</a>
            </div>
        </div>
    </main>
    <%- include("partials/footer.ejs") %>