<%- include("partials/header.ejs") %>
    <main>
        <div>
            <form class="form-container" action="/save" method="POST">
                <input type="text" name="title" placeholder="New post name...">
                <textarea name="postText" id="postText" rows="20"></textarea>
                <button> Post!</button>
            </form>
        </div>
    </main>

    <%- include("partials/footer.ejs") %>