<%- include("partials/header.ejs") %>
    <main style="display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;">
        <h1>Post succesfully saved!</h1>

    </main>
    <%- include("partials/footer.ejs") %>