/* Color pallete
main color: EFBC9B
second: FBF3D5
accent1:    D6DAC8
accent2:    9CAFAA */


body{
    background-color: #FBF3D5;
    
}


/* bootstrap navigation bar */
#bootstrap-navbar{
    background-color: #9CAFAA;
    max-width: none;
}

a:hover,a:focus{
  color: #EFBC9B !important;
}


.navbar-text{
  color: #D6DAC8;
  font-size: 25px;
}
a.myLogo{
  color: #EFBC9B;
  font-size: 25px;
}
/* main */
main .myContainer{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr ;
}
.sidebar{
    grid-row: 1/-1;
    
}
.post{
  margin:15px;
  background-color: #FBF3D5;
  border: 2px solid #EFBC9B;
  
  
}

.post a{
  color: #EFBC9B;
  width: 40%;
  align-self: center;
  
}
.post a:hover, .post a:focus{
  background-color: #9CAFAA;
  color: white !important;
}

/* form  */
.form-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
}

.form-container *{
  border: 3px solid #EFBC9B;
  border-radius: 10px;
  width: 85%;
}

.form-container input{
  width: 30%;
  text-align: center;
}

.form-container button{
  width: 30%;
  background-color: #FBF3D5;
}

/* post  */
.post-container{
  margin: 20px;
}

.editor-buttons{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
}
.editor-buttons a{
  color: #9CAFAA;
}

footer{
  background-color: #9CAFAA;
  margin: 0;
  padding: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  
}


@media (max-width:992px ){
  main .myContainer{
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}