/* Color pallete
main color: EFBC9B
second: FBF3D5
accent1:    D6DAC8
accent2:    9CAFAA */
:root{
  --light-green:#606C38;
  --dark-green:#283618;
  --beige:#FEFAE0;
  --light-orange:#DDA15E;
  --dark-orange:#BC6C25;

  --serif:"Suranna";  
  --sans-serif:"Inter"
}



body{
    background-color: var(--beige);
    
}


/* bootstrap navigation bar */
#bootstrap-navbar{
    background-color:var(--dark-green);
    max-width: none;
}

#bootstrap-navbar a:hover,a:focus{
  color: var(--dark-orange) !important;
}

svg.bi{
  fill: var(--dark-orange) !important;
}

.navbar-text{
  color: var(--beige);
  font-size: 25px;
  font-family: var(--serif)
}
a.myLogo{
  color: var(--beige);
  font-size: 25px;
  font-family: var(--serif)
}
/* main */
main .myContainer{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr ;
}
.sidebar{
    grid-row: 1/-1;
    
}
.post{
  margin:15px;
  background-color: #fffcef;;
  /* background-color: var(--beige); */
  border: 2px solid var(--light-green);
}

.post a{
  color: var(--light-green);
  width: 40%;
  align-self: center;
  font-family: var(--sans-serif);
  
}
.post a:hover, .post a:focus{
  background-color: var(--light-green);
  color: var(--beige) !important;
}

h3{
  color: var(--dark-orange)!important;
  font-family: var(--serif);
}
p{
  color: var(--dark-green) !important;
  font-family: var(--sans-serif);
  
}

.posts-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  
}

.posts-list a{
  text-decoration: none;
  color: var(--light-green);
  font-family: var(--serif);
  font-size: 20px
 
}
.posts-list li{
  border: 2px solid var(--light-green);
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: #fffcef;
}

/* form  */
.form-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  gap: 20px;
}

.form-container *{
  border: 3px solid var(--light-green);
  border-radius: 10px;
  width: 85%;
  background-color: #fffcef;
  font-family: var(--sans-serif);
  color: var(--dark-green);
  font-size: 20px;
}

.form-container input{
  width: 30%;
  text-align: center;
  font-family: var(--serif);
  font-size: 25px;
  color: var(--dark-green);
}

.form-container button{
  width: 30%;
  background-color: #fffcef;
}
.form-container button:hover{
  width: 30%;
  background-color: var(--light-green);
  border: 3px solid var(--dark-green);
  color: var(--beige);
  
}

/* post  */
.post-container{
  margin: 20px;
  min-height: 100vh;
}
.post-container h1{
  font-family: var(--serif);
  color: var(--dark-orange);
  
}

.post-container p{
  font-family: var(--sans-serif);
  color: var(--dark-green);
}



.editor-buttons{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
  
}

.editor-buttons a{
  
  padding: 10px;
  border-radius: 5px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.editor-buttons a:hover{
  background-color: var(--light-green);
 
}
.editor-buttons a:hover svg{
  fill: var(--beige) !important  ;
}

footer{
  background-color: var(--dark-green);
  margin: 0;
  padding: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
  
}
footer h5{
  color: var(--beige);
  font-family: var(--serif);
}

.contact-page{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
}
.contact-page h2{
  margin: 20px;
  font-family: var(--serif);
  color: var(--dark-green);
  
  
}



@media (max-width:992px ){
  main .myContainer{
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1 fr 1fr 1fr 1fr 1fr;
  }
  .posts-list{
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0;
  }
  .form-container {
    padding: 30px 0px;
  }
  .form-container input{
    width: 90%;
  }
}